.header {
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.373);
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 18px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.headerLista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 35px;
}

.link {
    text-decoration: none;
    color: #000000
}

.link:hover {
    font-weight: bold;
}
